<div class="about-bb">
  <div class="grid-fluid">
    <div class="container">
      <div class="about">
        <h2>About <%= Organization.first.name %></h2>
        <p><%= Organization.first.blurb.html_safe %></p>
      </div>
    <div class="contact">
      <h2>Contact <%= Organization.first.name %></h2>
      <p><i class="fa fa-envelope"></i> <%= Organization.first.email %></p>
      <p><i class="fa fa-phone"></i> <%= Organization.first.phone %> </i></p>
      <p><i class="fa fa-globe"></i> <%= Organization.first.address %> <%= Organization.first.zip %></p>
    </div>
  </div>
</div>
