<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4 class="modal-title" id="myModalLabel">Please take a moment to choose your preferred gift drop off location. We will filter the families and show you only those living in your chosen location.</h4>
      </div>
      <div class="modal-body">
        <h3>Available Locations</h3>
        <ul>
        <% @drop_locations.each do |dl| %>
        
        <li><%= dl.name %></li>
        <li><%= dl.street %></li>
        <li><%= dl.city %></li>
        <li><%= dl.state %></li>
        <li><%= dl.zipcode %></li>
        <li><%= button_to "Choose Location", add_location_path(:drop_location_id => dl.id), :method => :post %></li>  
        <br>
      </ul>
      <div class="map"><img src="http://www.placehold.it/100x100"></div>
        <% end %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
