
<div class="row home-top-row">
  <div class="col-xs-1"></div>
  <% if @drive.status == true %>
  <div class="col-xs-10 home-title">
    <h1>Welcome to the <%= @drive.year %> Brighter Beginnings<br> Adopt-a-Family Holiday Gift Giving Program</h1>
  </div>
</div>

<div class="row description">
  <div class="col-lg-1"></div>
  <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10">
    <div class="present"><i class="glyphicon glyphicon-gift"></i></div>
    <h2>About this Drive </h2>
    <p><%= @drive.blurb.html_safe %></p>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-10 dates-etc">
    <div class="row">
      <div class="present"><i class="glyphicon glyphicon-calendar"></i></div>
      <h2>Drive Dates</h2>
      <p><%= @drive.start_date.strftime('%B %d, %Y') %> &mdash; <%= @drive.end_date.strftime('%B %d, %Y') %></p>
    </div>

    <div class="row count">
      <h2><%= @countdown %></h2>
      <p>
        <% if @countdown == 1 %> 
        Day
        <% else %> 
        Days
        <% end %> 
        left until the Adopt-a-Family Giftdrive opens!
      </p>
    </div>

    <% if !user_signed_in? %>
    <%= link_to 'Sign In or Sign Up to Browse Families', new_user_session_path, :class => "btn btn-info" %>
    <% end %>

    <% if user_signed_in? && user_has_chosen_drop_location %>
    <%= link_to 'Browse Families Now', all_families_path, :class => "btn btn-info" %>
    <% elsif user_signed_in? && !user_has_chosen_drop_location %>
    <a href="#" class="btn btn-info" data-toggle="modal" data-target="#basicModal">Browse Families</a>
    <% end %>
  </div>
</div>

</div>

<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10 locations">
    <h2 class="drop-title">Gift Drop Locations</h2>
    <% @drop_locations.each do |dl| %>
    <ul class="col-lg-4 col-md-6 col-sm-6 col-xs-10 location">
      <li><h2><%= dl.drop_location_name %></h2></li>
      <li><p><%= dl.street %></p></li>
      <li><p><%= dl.city %>, <%= dl.zipcode %></p></li>
      <li><h2 class="home-dd">Drop Dates</h2></li>
      <li>
        <% dl.drop_dates.each do |dd| %>
        <ul>
          <li><p><%= dd.date.strftime('%B %d') %>, <%= dd.start_time.strftime('%l:%M %p').downcase %> &mdash; <%= dd.end_time.strftime('%l:%M %p').downcase %></p></li>
        </ul>
        <% end %>
      </li>
      <li class="map"><%= render "shared/#{dl.drop_location_name.downcase}" %></li>
    </ul>
    <% end %>
  </div>
</div>

<div class="row about-bb">
  <div class="col-lg-1"></div>
  <div class="col-lg-6 col-md-6 col-xs-6 col-xs-10">
    <h2>About <%= Organization.first.name %></h2>
    <p><%= Organization.first.blurb.html_safe %></p>
  </div>

  <div class="col-lg-1"></div>

  <div class="contact col-lg-4 col-md-4 col-sm-4 col-xs-10">
    <h2>Contact <%= Organization.first.name %></h2>
    <p><i class="glyphicon glyphicon-envelope"></i> <%= Organization.first.email %></p>
    <p><i class="glyphicon glyphicon-earphone"></i> <%= Organization.first.phone %> </i></p>
    <p><i class="glyphicon glyphicon-home"></i> <%= Organization.first.address %> <%= Organization.first.zip %></p>
  </div>
</div>

<%= render "shared/modal" %>
</div>
<% else %>
<%= render "drives/closed" %>
<% end %>




