
<div class="row home-top-row">
  <div class="col-xs-1"></div>
  <% if @drive.status == true %>
  <div class="col-xs-10 home-title">
    <h1>Welcome to the <%= @drive.year %> Brighter Beginnings<br> Adopt-a-Family Holiday Gift Giving Program</h1>
  </div>
</div>
<div class="col-xs-1"></div>
</div>
<div class="drive-details">
<div class="row">

  <div class="col-sm-1 col-xs-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 drive-description">
    <div class="present"><i class="glyphicon glyphicon-gift"></i></div>
    <h2>About this Drive <br>(<%= @drive.start_date.strftime('%B %d, %Y') %> &mdash; <%= @drive.end_date.strftime('%B %d, %Y') %>) </h2>
    <p><%= @drive.blurb %></p>
  </div>

  <div class="col-sm-10 col-xs-1"></div>
</div>

<div class="see-families">
  <% if user_signed_in? && user_is_admin? %>
    <a href="/families" class="btn btn-lg btn-danger">Browse Families</a>
  <% elsif user_signed_in? && user_has_chosen_drop_location(current_user) %>
    <a href="/families" class="btn btn-lg btn-danger">Browse Families</a>
  <% elsif user_signed_in? && !user_has_chosen_drop_location(current_user)%>
    <a href="#" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#basicModal">Browse Families</a>
  <% end %>
</div>
</div>


<div class="col-xs-12 locations">
  <h2>Drop locations and dates:</h2>

  <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
    <img class="img-resposive" src="http://placehold.it/300x300">
  </div>

  <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
    <img class="img-resposive" src="http://placehold.it/300x300">
  </div>

  <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
    <img class="img-resposive" src="http://placehold.it/300x300">
  </div>
</div>

<div class="clearfix"></div>

<div class="row about-bb">

  <div class="col-sm-1 col-xs-1"></div>

  <div class="col-sm-6 col-xs-10">
    <h2>About <%= Organization.first.name %></h2>
    <p><%= Organization.first.blurb %></p>
  </div>

  <div class="contact col-sm-4 col-xs-10">
    <h2>Contact <%= Organization.first.name %></h2>
    <p><i class="glyphicon glyphicon-envelope"></i> <%= Organization.first.email %></p>
    <p><i class="glyphicon glyphicon-earphone"></i> <%= Organization.first.phone %> </i></p>
    <p><i class="glyphicon glyphicon-home"></i> <%= Organization.first.address %> <%= Organization.first.zip %></p>

  </div>

  <div class="col-sm-1 col-xs-1"></div>
</div>


<%= render "modal" %>
<% else %>
<%= render "drives/closed" %>
<% end %>
</div>



