<% if @drive.status == true %>
<div class="welcome">
  <h1>Welcome to the <%= @drive.year %> Brighter Beginnings<br> Adopt-a-Family Holiday Gift Giving Program</h1>
</div>

<%= render "layouts/errors" %>
<div class="description">
  <div class="grid-fluid">
    <div class="container">
      <ul class="about-gd">
        <li><h2><i class="fa fa-gift"></i>About this Drive </h2></li>
        <li><p><%= @drive.blurb.html_safe %></p></li>
      </ul>
      <ul class="dates-etc">
        <li><h2><i class="fa fa-calendar"></i></i>Drive Dates</h2></li>
        <li><%= @drive.start_date.strftime('%B %d, %Y') %> &mdash; <%= @drive.end_date.strftime('%B %d, %Y') %></li>
        <li>
          <% if !user_signed_in? %>
          <%= link_to 'Sign In or Sign Up to Browse Families', new_user_session_path, :class => "btn btn-info" %>
          <% end %>

          <% if user_signed_in? && user_has_chosen_drop_location %>
          <%= link_to 'Browse Families Now', all_families_path, :class => "btn btn-blue" %>
          <% elsif user_signed_in? && !user_has_chosen_drop_location %>
          <a href="#" class="btn btn-info" data-toggle="modal" data-target="#basicModal">Browse Families</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= render "maps" %>
<%= render "bb_info" %>
<%= render "shared/modal" %>

<% else %>
<%= render "drives/closed" %>
<% end %>

</div>



