  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 org-form">
      <%= nested_form_for @drive, :html => {:class => "form form-horizontal"} do |f| %>
      <div class="form-horizontal">
        <div class="form-group col-xs-12">
          <%= f.label :Year %>
          <%= f.text_field :year, required: :true, class: "form-control" %>
        </div>
        <div class="form-group col-xs-12">
          <%= f.label :blurb %>
          <%= f.text_field :blurb, required: :true, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :start_date %>
          <%= f.date_field :start_date, required: :true, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :end_date %>
          <%= f.date_field :end_date, required: :true, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :donation_receipt_link %>
          <%= f.text_field :donation_receipt_link, class: "form-control", placeholder: 'optional - must be a valid url' %>
        </div>

        <%= f.fields_for :drop_locations do |dl| %>
        <div class="location-form">
          <h3>Drop Location Details</h3>

          <%= dl.fields_for :drop_dates do |dd| %>
          <div class="form-group col-xs-12">
            <%= dd.label :date_and_time %>
            <%= dd.datetime_select :date_and_time, class: "form-control" %>
            <%= dd.link_to_remove "Remove" %>
          </div>
          <%  end %>
          <div><%= dl.link_to_add "Add drop date and time", :drop_dates %></div><br> 
            <div class="form-group col-xs-12">
              <div><%= dl.label :Name %><br>
              <%= dl.text_field :name %></div>
            </div>
            <div class="form-group col-xs-12">  
              <div><%= dl.label :Street %><br>
              <%= dl.text_field :street %></div>
            </div>
            <div class="form-group col-xs-12">
              <div><%= dl.label :City %><br>
              <%= dl.text_field :city %></div>
            </div>
            <div class="form-group col-xs-12">
              <div><%= dl.label :State %><br>
              <%= dl.text_field :state %></div>    
            </div>
            <div class="form-group col-xs-12">
              <div><%= dl.label :Zipcode %><br>
              <%= dl.text_field :zipcode %></div>
            </div>  
          </div>
          <% end %><br>

        <div class="form-group col-xs-12"><%= f.link_to_add "Add Another Drop Location", :drop_locations %></div> 

      </div>
      <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>