
<div class="row">
  <div class="col-xs-1"></div>
  <% if @drive.status == true %>
  <div class="col-xs-10 home-title">
    <div class="present"><i class="glyphicon glyphicon-gift"></i></div>
    <h1>Welcome to the <%= @drive.year %> Brighter Beginnings<br> Adopt-a-Family Holiday Gift Giving Program</h1>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <h2>About this drive</h2>
    <p><%= @drive.blurb %></p>
  </div>
  <div class="col-xs-1"></div>
</div>

<div class="row">
  <div class="col-sm-1 col-xs-1"></div>

  <div class="col-sm-6 col-xs-10">
    <h2>About <%= Organization.first.name %></h2>
    <p><%= Organization.first.blurb %></p>
  </div>

  <div class="contact col-sm-4 col-xs-10">
    <h2>Contact <%= Organization.first.name %></h2>
    <p><i class="glyphicon glyphicon-envelope"></i> <%= Organization.first.email %></p>
    <p><i class="glyphicon glyphicon-earphone"></i> <%= Organization.first.phone %> </i></p>
    <p><i class="glyphicon glyphicon-home"></i> <%= Organization.first.address %> <%= Organization.first.zip %></p>
  </div>

  <div class="col-sm-1 col-xs-1"></div>
</div>


<%= render "modal" %>
<% else %>
<%= render "drives/closed" %>
<% end %>
</div>



