<div style="background-color: #eeeeee; padding: 20px;" class="email-container">
  <h1 style="font-family: 'Alegreya', serif; font-weight: 500; line-height: 46px; font-size: 46px; margin: 0 0 43px 0; color: #5FC073;">Adopt-a-Family Details</h1>
  <div class="bb-content">
    <h2 style="font-family: 'Roboto Condensed', sans-serif; font-weight: normal; font-size: 21px; line-height: 23px; text-transform: uppercase; letter-spacing: 2px; margin: 0 0 23px 0;">A few words from <a style='color: #47a9f8; text-decoration: none;' href="http://www.brighter-beginnings.org/">Brighter Beginnings</a></h2>
    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 10px 0;">On behalf of the families served by Brighter Beginnings that you selected to "adopt" to share Holiday gifts, we would like to thank you for your kindness and generosity. Adopting a family for the Holiday Season is a big responsibility and our families are so very thankful for your holiday support.</p>
    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 10px 0;">When dropping off your gifts, please package them securely in sturdy boxes with lids and taped securely to close. Boldly write the Family Code (found on the Family Profile) on all four sides and on the top of the box. Label each box with its number (i.e. “1 of 3”, “2 of 3”). Lastly, please bring a filled out donation receipt. </p>

    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 10px 0;">A blank copy of the in-kind donation receipt and answers to many other common questions about the Adopt-a-Family program can be found here on our <%= link_to 'faqs page', 'http://adopt-a-family-program.herokuapp.com/faq#in-kind', style: 'color: #47a9f8; text-decoration: none;' %>.</p>

    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 10px 0;">For shopping tips, please visit our <%= link_to 'shopping tips page', 'http://adopt-a-family-program.herokuapp.com/shopping_tips', style: 'color: #47a9f8; text-decoration: none;' %>.</p>

    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 23px 0;">To edit your personal information or adoption details, please <%= link_to 'visit your personal account ', 'http://adopt-a-family-program.herokuapp.com/users/sign_in', style: 'color: #47a9f8; text-decoration: none;' %>on the <a style='color: #47a9f8; text-decoration: none;' href="http://adopt-a-family-program.herokuapp.com/"> Adopt-a-Family website</a>.
      </p>

    <% if @dl != nil %>
    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 23px 0;">
      <strong>Please note your DROP OFF LOCATION as: <%= @dl.street %>, <%= @dl.city %>, <%= @dl.state %></strong>
    </p>
    <% end %>
    <% if @dd != nil %>
    <p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 23px 0;">
      <strong>Please note your GIFT DROP DATE as: <%= @dd.date.strftime('%B %d, %Y') %></strong>
    </p>
    <% end %>
    
  </div>
  <hr>
  <div class="family-content">
    <h1 style="font-family: 'Alegreya', serif; font-weight: 500; line-height: 46px; font-size: 46px; margin: 43px 0 43px 0;">Family Details</h1>
    <h2 style="font-family: 'Roboto Condensed', sans-serif; font-weight: normal; font-size: 21px; line-height: 23px; text-transform: uppercase; letter-spacing: 2px; margin: 0 0 23px 0;">(Family Code: <%= @family.code.upcase %>)</h2>
    <ul style="margin: 0; padding: 0;">
      <% @family.family_members.each do |fm| %>
        <li style="list-style: none; margin-bottom: 5px;"><h2 style="font-family: 'Roboto Condensed', sans-serif; font-weight: normal; font-size: 21px; line-height: 23px; text-transform: uppercase; letter-spacing: 2px; margin: 0 0 10px 0; font-weight: bold; color: #5FC073;"><%= fm.first_name %>, <%= number_with_precision(fm.age, precision: 0) %></h2></li>
        <li style="list-style: none; margin-bottom: 5px;"><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0 0 10px 0;"><%= fm.bio %></p></li>
        <li style="display: inline-block; list-style: none; margin: 0 0 20px 15px;"><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0;">Pant Size: <%= fm.size_pants %></p></li>
        <li style="display: inline-block; list-style: none; margin: 0 0 20px 15px;"><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0;">Shirt Size: <%= fm.size_shirt %></p></li>
        <li style="display: inline-block; list-style: none; margin: 0 0 20px 15px;"><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0;">Dress Size: <%= fm.size_dress %></p></li>
        <li style="display: inline-block; list-style: none; margin: 0 0 20px 15px;"><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0;">Shoe Size: <%= fm.size_shoes %></p></li>
        <li style="list-style: none; margin-bottom: 10px;"><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0;" class="need-title"> <%= fm.get_gender_pronoun %> Needs</p></li>
        <li style="list-style: none;">
          <ol style="margin-left: 20px; padding: 0; padding-bottom: 30px;" class="needs">
            <% fm.needs.each do |n| %>
            <li><p style="font-family: 'Roboto', sans-serif; font-size: 15px; line-height: 23px; margin: 0;"><%= n.item %></p></li>
            <% end %>  
          </ol>
        </li>
      <% end %>
    </ul>
  </div>  
</div>  
</div>  



