<% if families.length == 0 %>
<div class="no-fams">
  <h1>All families of <%= @family_size %> have already been adopted. Thank you!</h1>
</div>
<% else %>
<% families.each do |f| %>
<ul class="adoptable-family-on-index">
  <li><h1><%= link_to f.code.upcase, family_path(f) %></h1></li>
  <% order_peeps(f).each do |fm| %>
  <li>
    <ul>
      <li><h2><%= fm.first_name %>, <%= number_with_precision(fm.age, precision: 0) %>, <%= parse_gender(fm) %></h2></li>
    </ul>
  </li>
  <% end %>
  <li class="buttons">
    <%= link_to "ADOPT", new_adoption_path(@adoption, :family_id => f.id, :id => current_user.id), :class => "btn btn-success" %>
    <%= link_to 'LEARN MORE', family_path(f), :class => "btn btn-info" %>
  </li>
</ul>
<% end %>
<% end %>
<div class="clearfix"></div>