  <%= render 'shared/sub_nav' %>
  
  <div class="inner-container">
  <div class="col-lg-12 filtering-deets">
    <h2>Families Available for Adoption</h2>
    <%= render "filter_by_size_buttons" %>
  </div>

  <div class="families-container">

    <div class="fams fams1">
      <%= render partial: "fams_by_size", locals: { families: @fams_two } %>
    </div>
    <div class="fams fams2">
      <%= render partial: "fams_by_size", locals: { families: @fams_two } %>
    </div>
    <div class="fams fams3">
      <%= render partial: "fams_by_size", locals: { families: @fams_three } %>
      
    </div>
    <div class="fams fams4">
      <%= render partial: "fams_by_size", locals: { families: @fams_four } %>
    </div>
    <div class="fams fams5">
      <%= render partial: "fams_by_size", locals: { families: @fams_five } %>
    </div>
    
  </div>
</div>
