
  <div class="families-container">
    <h2>Families Available for Adoption</h2>
    <%= link_to "Export",  families_path(format: "xls") %>
  <div>

  <% @families.each do |f| %>

    <ul class="adoptable-families">
      <li><%= link_to f.code, family_path(f) %></li>
      <li><%= f.family_members.count %></li>

      <li><%= link_to "Adopt this Family!", new_donor_path(@donor, :family_id => f.id) %></li>

      <% f.family_members.each do |fm| %>
      <li>
          <ul class="fam-members">
            <li><%= fm.first_name %></li>
          </ul>
      </li>
      <% end %>
    </ul>

  <% end %>



