<%= render 'shared/sub_nav' %>

<div class="adoption-thank-you">
  <% if family_has_been_adopted?(@family) && current_user.adoptions.include?(Adoption.find(@family.adoption_id)) %>
  <p>Thank you for adopting this family, <%= User.find(Adoption.find_by_family_id(@family.id).user_id).full_name %>!</p>
  <% elsif family_has_been_adopted?(@family) %>
  <p>This family has already been adopted by another donor.</p>
  <% end %>
</div>
<div class="col-lg-1"></div>
<div class="col-lg-10 col-md-10 col-sm-10 adoptable-family">

  <h1><%= @family.code.upcase %></h1>
  <% @family.family_members.each do |fm| %>
  <div class="col-lg-12 col-md-12 col-sm-12 family-member">
    <ul>
      <li>
        <ul>
          <li><h2><%= fm.first_name %>, age <%= number_with_precision(fm.age, precision: 0) %></h2></li>
          <li><p><%= fm.bio %></p></li>
        </ul>
      </li>
      <li><p class="need-title"><%= fm.first_name %>'s Needs</p></li>
      <li>
        <ul class="needs">
          <% fm.needs.each do |n| %>
          <li><p><%= n.item %></p></li>
          <% end %>  
        </ul>
      </li>
      <li class="col-lg-12 sizes">
        <ul>
          <li class="col-lg-3"><p>Pant Size: <%= fm.size_pants %></p></li>
          <li class="col-lg-3"><p>Shirt Size: <%= fm.size_shirt %></p></li>
          <li class="col-lg-3"><p>Dress Size: <%= fm.size_dress %></p></li>
          <li class="col-lg-3"><p>Shoe Size: <%= fm.size_shoes %></p></li>
        </ul>
      </li>
    </ul>

  </div>
  <% end %>
  <% unless family_has_been_adopted?(@family) %>
  <div class="family-buttons col-lg-12 col-md-12 col-sm-12">
    <%= link_to '< GO BACK', families_path, :class => "btn btn-info" %>
    
    <%= link_to "ADOPT THIS FAMILY >", new_adoption_path(:family_id => @family.id), :class => "btn btn-success" %>
    </div>
  <% end %>
</div>


