<div>
  
    <%= form_for @user do |f| %>

      <%= f.hidden_field :family_id, :value => @family.id %>
      <%= f.hidden_field :drive_id, :value => Drive.last.id %>
      <%= f.hidden_field :drop_location_id, :value => current_user.drop_location_id %>

    <div class="form-item"><%= f.label :email %>
    <%= f.text_field :email %></div>

    <div class="form-item"><%= f.label :full_name %>
    <%= f.text_field :full_name %></div>

    <div class="form-item"><%= f.label :street %>
    <%= f.text_field :street %></div>

    <div class="form-item"><%= f.label :city %>
    <%= f.text_field :city %></div>

    <div class="form-item"><%= f.label :state %>
    <%= f.text_field :state %></div>

    <div class="form-item"><%= f.label :zipcode %>
    <%= f.text_field :zip %></div>

    <div class="form-item"><%= f.label :phone %>
    <%= f.text_field :phone %></div>

    <div class="form-item"><%= f.label :company %>
    <%= f.text_field :company %></div>

    <p>
      Lastly, you have chosen <%= @user.get_drop_location_name %> as your drop location. 
      Before completing this process, please choose the day you would like to drop 
      your gifts off.
    </p>

    <% if @user.info_complete %>
      <p>(If you've already chosen your date you can update it here or through your account page profile editing options).</p> 
    <% end %>

    <div class="form-group col-xs-12">
      <%= f.select(:drop_date_id, @drop_dates.collect {|dd| [dd.date_and_time.strftime('%B %d, %Y at %l:%M %p'), dd.id]}) %>
    </div>


  <div>
    <%= f.submit 'ADOPT THIS FAMILY NOW!', :class => "btn btn-danger" %>
  </div> 

    <% end %>
  </div>
</div>

