<div class="top-holder">
  <h1>Adopt-a-Family Admin</h1>
  <div class="admin-subnav">
    <%= link_to 'Home', root_path, :class => "subnav-link" %>
    <%= link_to 'My Account', user_path(current_user), :class => "subnav-link" %>
    <% if user_has_chosen_drop_location %>
    <%= link_to 'Families', all_families_path, :class => "subnav-link" %>
    <% end %>
  </div>

  <div class="countdown fam-countdown">
    <div><h2>Families<br><span><%= Family.count %></span></h2></div>
  </div>

  <div class="countdown adoption-countdown">
    <div><h2>Adoptions<br><span><%= Adoption.count %></span></h2></div>
  </div>

</div>
<div class="clearfix"></div>




