    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand main" href="/"><%= image_tag('brighter_beginnings_logo.png')%></a>
        </div>
        <div class="navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">

            <li><%= link_to 'Shopping Tips', shopping_tips_path %></li>
            <li><%= link_to 'FAQs', faq_path %></a></li>
            
            <% unless user_signed_in? %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>

            <% if user_signed_in? && !user_is_admin? %>
            <li><%= link_to "My Account", user_path(current_user) %></li>
            <li class="main"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>

            <% end %>

            <% if user_signed_in? && user_is_admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn btn-lg btn-primary" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">

                <% if user_is_super_admin? %>
                <li><%= link_to "Edit BB Info", edit_organization_path(Organization.first) %></li>
                <li><%= link_to "Create a Drive", new_drive_path %></li>
                <li><%= link_to "Edit Drive", edit_drive_path(Drive.last) %></li>
                <li><%= link_to "Super Admin", super_admin_path %></li>
                <% end %>

                <li><%= link_to "Add a Family", new_family_path %></li>
                <li><%= link_to "Data Tables", data_tables_path %></li>
                <li><%= link_to "Import Family Data", new_family_member_import_path(Drive.last) %></li>
              </ul>
            <li class="main"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </li>
            

            <% end %>

            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
