<%= form_for(@adoption, :html => {:class => "form form-horizontal"}) do |f| %>

<% if @adoption.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@adoption.errors.count, "error") %> prohibited this adoption from being saved:</h2>

  <ul>
    <% @adoption.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.hidden_field :family_id, :value => @family.id %>
<%= f.hidden_field :family_code, :value => @family.code %>
<%= f.hidden_field :drive_id, :value => Drive.last.id %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<% unless current_user.drop_location_id == 0 %>
<%= f.hidden_field :drop_location_id, :value => DropLocation.find(current_user.drop_location_id).id %>
<%= f.hidden_field :drop_location_name, :value => DropLocation.find(current_user.drop_location_id).drop_location_name %>
<% end %>

<div class="row">  

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">    
    <div class="form-item"><%= f.label :first_name %>
      <%= f.text_field :first_name, value: current_user.first_name, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">    
    <div class="form-item"><%= f.label :last_name %>
      <%= f.text_field :last_name, value: current_user.last_name, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">  
    <div class="form-item"><%= f.label :email %>
      <%= f.text_field :email, value: current_user.email, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">   
    <div class="form-item"><%= f.label :street %>
      <%= f.text_field :street, value: current_user.street, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">   
    <div class="form-item"><%= f.label :city %>
      <%= f.text_field :city, value: current_user.city, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">     
    <div class="form-item"><%= f.label :state %>
      <%= f.text_field :state, value: current_user.state, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">   
    <div class="form-item"><%= f.label :zipcode %>
      <%= f.text_field :zip, value: current_user.zip, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">   
    <div class="form-item"><%= f.label :phone %>
      <%= f.text_field :phone, value: current_user.phone, class: "form-control", required: :true %>
    </div>
  </div>

  <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">   
    <div class="form-item"><%= f.label :company %>
      <%= f.text_field :company, value: current_user.company, class: "form-control" %>
    </div>
  </div>

  <% unless current_user.drop_location_id == 0 || !user_has_chosen_drop_location %>

  <% if @new %>
  <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    Lastly, you have chosen <%= current_user.get_drop_location_name %> as your drop location. 
    Before completing this process, please choose when you would like to drop 
    off your gifts from the day and time options provided below. If at some point you need to edit your drop day and time details, you may do so by going to your personal Account Page and choosing the edit option next to your adopted famil(ies). 
  </p>
  <% else %>
  <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    Update yor drop time and date here. 
  </p>
  <% end %>

  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="form-item">
      <%= f.select(:drop_date_id, @drop_dates.collect {|dd| [dd.date.strftime('%B %d, %Y'), dd.id]}) %>
    </div>
  </div>
  <% end %>
  <div class="clearfix"></div>

  <% if @new %>
  <div class="form-item">
    <%= f.submit 'ADOPT THIS FAMILY NOW!', :class => "btn btn-success" %>
  </div> 
  <%= link_to 'CANCEL', family_path(Family.find(params[:family_id])), :id => "cancel-adoption-process", :class => "btn btn-danger" %>

  <% else %>
  <div class="form-item">
    <%= f.submit :class => "btn btn-success" %>
  </div> 

  <% end %>
  <% end %>
</div>
