<h1>Listing adoptions</h1>

<table>
  <thead>
    <tr>
      <th>Drive</th>
      <th>User</th>
      <th>Family</th>
      <th>Full name</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Company</th>
      <th>Drop location</th>
      <th>Drop date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adoptions.each do |adoption| %>
      <tr>
        <td><%= adoption.drive_id %></td>
        <td><%= adoption.user_id %></td>
        <td><%= adoption.family_id %></td>
        <td><%= adoption.full_name %></td>
        <td><%= adoption.street %></td>
        <td><%= adoption.city %></td>
        <td><%= adoption.state %></td>
        <td><%= adoption.zip %></td>
        <td><%= adoption.phone %></td>
        <td><%= adoption.company %></td>
        <td><%= adoption.drop_location_id %></td>
        <td><%= adoption.drop_date_id %></td>
        <td><%= link_to 'Show', adoption %></td>
        <td><%= link_to 'Edit', edit_adoption_path(adoption) %></td>
        <td><%= link_to 'Destroy', adoption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adoption', new_adoption_path %>
