<table class="datatable table table-striped table-scrollable table-bordered" id="manage-adoptions">

  <thead>  
    <tr>
      <th><h2>Code</h2></th>
      <th><h2>Adopter</h2></th>
      <th><h2>Phone</h2></th>
      <th><h2>Email</h2></th>
      <th><h2>Drop Date</h2></th>
      <th><h2>Boxes</h2></th>
      <th><h2>Received</h2></th>
      <th><h2>Given</h2></th>
      <th><h2>Update</h2></th>
      <% if user_is_super_admin? %>
      <th><h2>Cancel</h2></th>
      <% end %>  
    </tr>
  </thead>  

 
  <% @adoptions.each do |a| %>
  <% fam = Family.find(a.family_id) %>
  <tr>
    <ul>
      <td>
        <li><%= fam.code %></li>
      </td>
      <td>
        <li><%= a.full_name %></li>
      </td>
      <td>
        <li><%= a.phone %></li>
      </td>
      <td>
        <li><%= a.email %></li>
      </td>
      <td>
        <li>
          <% unless User.find(a.user_id).drop_location_id == 0 %>
          <%= a.drop_off.strftime('%B %d, %Y at %l:%M %p') %>
          <% end %>
        </li>
      </td>

      <%= form_tag(adoption_update_gift_status_path(a)) do %>
      <%= hidden_field_tag "id", a.id %>
      <td>
        <%= text_field_tag :num_boxes, a.num_boxes, :class => "table-input boxes" %>
      </td>
      <td>
        <%= date_field_tag :received_at_org, a.received_at_org, :class => "table-input" %>
      </td>
      <td>
        <%= date_field_tag :given_to_family, a.given_to_family, :class => "table-input" %>
      </td>
      <td>
        <%= submit_tag "Update", :class => "btn btn-success" %>
      </td>
      <% end %>

      <% if user_is_super_admin? %>
      <td><%= link_to "Cancel", a, method: :delete, class: "delete_link btn btn-small btn-danger"  %></td>
      <% end %>

    </ul>
    <% end %>
  </tr>
</table>