<table class="datatable table table-striped table-scrollable table-bordered" id="manage-adoptions">

<thead>  
<tr>
  <th><h2>Code</h2></th>
  <th><h2>Adopter</h2></th>
  <th><h2>Phone</h2></th>
  <th><h2>Email</h2></th>
  <th><h2>Drop Date</h2></th>
  <th><h2>Boxes</h2></th>
  <th><h2>Received</h2></th>
  <th><h2>Given</h2></th>
  <th><h2>Update</h2></th>
  <% if user_is_super_admin? %>
    <th><h2>Cancel</h2></th>
  <% end %>  
</tr>
</thead>  

<% @adopted_families.each do |af| %>
<tr>
  <ul>
    <td>
      <li><%= af.code %></li>
    </td>
    <td>
      <li><%= User.find(af.user_id).full_name %></li>
    </td>
    <td>
      <li><%= User.find(af.user_id).phone %></li>
    </td>
    <td>
      <li><%= User.find(af.user_id).email %></li>
    </td>
    <td>
      <li>
        <% unless User.find(af.user_id).drop_location_id == 0 %>
          <%= af.drop_off.strftime('%B %d, %Y at %l:%M %p') %>
        <% end %>
      </li>
    </td>
    
    <%= form_tag(family_update_gift_status_path(af)) do %>
      <%= hidden_field_tag "id", af.id %>
      <td>
        <%= text_field_tag :num_boxes, af.num_boxes, :class => "table-input boxes" %>
      </td>
      <td>
        <%= date_field_tag :received_at_org, af.received_at_org, :class => "table-input" %>
      </td>
      <td>
        <%= date_field_tag :given_to_family, af.given_to_family, :class => "table-input" %>
      </td>
      <td>
        <%= submit_tag "Update", :class => "btn btn-success" %>
      </td>
    <% end %>
    
    <% if user_is_super_admin? %>
      <td><%= link_to 'Cancel', cancel_adoption_path(:family_id => af.id), :class => "btn btn-danger" %></td>
    <% end %>

  </ul>
  <% end %>
</tr>
</table>