<table class="datatable table table-striped table-scrollable table-bordered" id="manage-users">
<thead>
<tr>
  <th><h2>User ID</h2></th>
  <th><h2>Full Name</h2></th>
  <th><h2>Email</h2></th>
  <th><h2>Phone</h2></th>
  <th><h2>Street</h2></th>
  <th><h2>City</h2></th>
  <th><h2>State</h2></th>
  <% if user_is_super_admin? %>
    <th><h2>Remove</h2></th>
  <% end %>
</tr>
</thead>
<% @system_users.each do |u| %>
<tr>
  <ul>
    <td>
      <li><%= u.id %></li>
    </td>
    <td>
      <li><%= u.full_name %></li>
    </td>
    <td>
      <li><%= u.email %></li>
    </td>
    <td>
      <% if u.phone %>
        <li><%= u.phone %></li>
      <% end %>
    </td>
    <td>
      <li><%= u.street %></li>
    </td>
    <td>
      <li><%= u.city %></li>
    </td>
    <td>
      <li><%= u.state %></li>
    </td>
    <% if user_is_super_admin? %>
      <td><%= link_to "Remove", u, method: :delete, class: "delete_link" %></td>
    <% end %>
    
  </ul>
  <% end %>
</tr>
</table>