<h2>Adoptor Details</h2>

<table class="datatable table table-striped table-scrollable table-bordered" id="manage-donors">
<tr>
  <th><h2>Name</h2></th>
  <th><h2>Email</h2></th>
  <th><h2>Street</h2></th>
  <th><h2>City</h2></th>
  <th><h2>State</h2></th>
  <th><h2>Zip</h2></th>
  <th><h2>Phone</h2></th>
  <th><h2>Company</h2></th>
  <th><h2>Edit</h2></th>
  <th><h2>Delete</h2></th>
</tr>
<% @adoptors.each do |a| %>
<tr>
  <ul>
    <td>
      <li><%= a.full_name %></li>
    </td>
    <td>
      <li><%= a.email %></li>
    </td>
    <td>
      <li><%= a.street %></li>
    </td>
    <td>
      <li><%= a.city %></li>
    </td>
    <td>
      <li><%= a.state%></li>
    </td>
    <td>
      <li><%= a.zip %></li>
    </td>
    <td>
      <li><%= a.phone %></li>
    </td>
    <td>
      <li><%= a.company %></li>
    </td>
    <td><%= link_to "Edit", edit_user_path(a), class: "edit_link" %></td>
    <td><%= link_to "Delete", a, method: :delete, class: "delete_link", remote: true %></td>
    <% end %>
  </ul>
</tr>

</table>