<table class="datatable table table-striped table-scrollable table-bordered" id="manage-family-members">
<tr>
  <th><h2>ID</h2></th>
  <th><h2>Code</h2></th>
  <th><h2>Name</h2></th>
  <th><h2>Edit</h2></th>
  <th><h2>Delete</h2></th>
</tr>
<% @family_members.each do |fm| %>
<tr>
  <ul>
    <td>
      <li><%= fm.id %></li>
    </td>
    <td>
      <li><%= fm.get_family_code %></li>
    </td>
    <td>
      <li><%= fm.first_name %></li>
    </td>
    <td><%= link_to "Edit", edit_family_family_member_path(fm.get_family_code, fm), class: "edit_link" %></td>
    <td><%= link_to "Delete", family_family_member_path(fm.get_family_code, fm), method: :delete, class: "delete_link", remote: true %></td>
    <% end %>
  </ul>
</tr>
</table>