<div class="manage-all">
  <div class="top-holder">
    <h1>Adopt-a-Family Data Tables</h1>
    <div class="admin-subnav">
      <%= link_to 'Home', root_path, :class => "subnav-link" %>
      <%= link_to 'My Account', user_path(current_user), :class => "subnav-link" %>
      <% if user_has_chosen_drop_location %>
      <%= link_to 'Families', families_path, :class => "subnav-link" %>
      <% end %>
    </div>

    <div class="countdown fam-countdown">
      <div><h2>Families<br><span><%= @total_fams %></span></h2></div>
    </div>

    <div class="countdown adoption-countdown">
      <div><h2>Adoptions<br><span><%= @total_adoptions %></span></h2></div>
    </div>
    
  </div>
  <div class="clearfix"></div>

  <div class="manage-nav">
    <h2>Data Table Views</h2>
    <%= radio_button_tag(:option, "families") %>
    <%= label_tag(:families, "All Families") %>
    <%= radio_button_tag(:option, "adoptors") %>
    <%= label_tag(:donors, "Adopting Users") %>
    <% if user_is_super_admin? %>
      <%= radio_button_tag(:option, "users") %>
      <%= label_tag(:donors, "All Registered Users") %>
    <% end %>  
    <%= radio_button_tag(:option, "adoptions", :checked => true) %>
    <%= label_tag(:adoptions, "Current Adoptions", class: "no-rm") %>
  </div>

  <div class="manage-table families-partial">
    <%= render 'family_data' %>
  </div>
  <div class="manage-table adoptions-partial">
    <%= render 'adoption_data' %>
  </div>
  <% if user_is_super_admin? %>
    <div class="manage-table users-partial">
      <%= render 'all_users' %>
    </div>
  <% end %>
  <div class="manage-table donors-partial">
    <%= render 'donor_data' %>
  </div>

</div>

