<div class="manage-all">
  <h2>Aopt-a-Family Data</h2>
  <h4>Total Families: <%= @total_fams %></h4>
  <h4>Adopted Families: <%= @adopted_families.count %></h4>
  <h4>Unadoted Families: <%= @left_unadopted %></h4>

  <div class="manage-nav">
    <%= radio_button_tag(:option, "families") %>
    <%= label_tag(:families, "Families") %>
    <%= radio_button_tag(:option, "adoptors") %>
    <%= label_tag(:donors, "Adoptors") %>
    <%= radio_button_tag(:option, "users") %>
    <%= label_tag(:donors, "Registered Users") %>
    <%= radio_button_tag(:option, "adoptions", :checked => true) %>
    <%= label_tag(:adoptions, "Adoptions") %>
  </div>

  <div class="manage-table families-partial">
    <%= render 'family_data' %>
  </div>
  <div class="manage-table adoptions-partial">
    <%= render 'adoption_data' %>
  </div>
  <div class="manage-table users-partial">
    <%= render 'all_users' %>
  </div>
  <div class="manage-table donors-partial">
    <%= render 'donor_data' %>
  </div>

</div>

