<%= render "layouts/errors" %>

<div class="manage-all">

<%= render 'data_tables_dash' %>

<table class="datatable table table-striped table-scrollable table-bordered" id="manage-donors">
  <thead>
    <tr>
      <th><h2>Last</h2></th>
      <th><h2>First</h2></th>
      <th><h2>#</h2></th>
      <th><h2>Email</h2></th>
      <th><h2>Street</h2></th>
      <th><h2>City</h2></th>
      <th><h2>State</h2></th>
      <th><h2>Zip</h2></th>
      <th><h2>Phone</h2></th>
      <th><h2>Company</h2></th>
    </tr>
  </thead>

  <% unless @adoptions.length < 1 %>
  <% unique_users(@adoptions).each do |u| %>
  <tr>
    <ul>
      <td>
        <li><%= u.last_name %></li>
      </td>
      <td>
        <li><%= u.first_name %></li>
      </td>
      <td>
        <li><%= u.adoptions.count %></li>
      </td>
      <td>
        <li><%= u.email %></li>
      </td>
      <td>
        <li><%= u.street %></li>
      </td>
      <td>
        <li><%= u.city %></li>
      </td>
      <td>
        <li><%= u.state%></li>
      </td>
      <td>
        <li><%= u.zip %></li>
      </td>
      <td>
        <% if u.phone %>
        <li><%= u.phone %></li>
        <% end %>
      </td>
      <td>
        <li><%= u.company %></li>
      </td>
      
      <% end %>

    </ul>
  </tr>
  <% end %>
</table>
</div>