<%= render "layouts/errors" %>
<div class="manage-all">

<%= render 'data_tables_dash' %>

<table class="datatable table table-striped table-scrollable table-bordered" id="manage-families">
<thead>
<tr>
  <th><h2>Family Code</h2></th>
  <th><h2>Members</h2></th>
  <th><h2>Adopted?</h2></th>
  <th><h2>Is Live?</h2></th>
  <th><h2>Edit</h2></th>

  <% if user_is_super_admin? %>
    <th><h2>Go Live</h2></th>
    <th><h2>Delete</h2></th>
  <% end %>
</tr>
</thead>
<% @families.each do |family| %>
<tr>
  <ul>
    <td>
      <li><%= family.code.upcase %></li>
    </td>
    <td>
      <li><%= family.family_members.count %></li>
    </td>
    <td>
      <li><%= family.adopted %></li>
    </td>
    <td>
      <li><%= family.is_live %></li>
    </td>
    <td><%= link_to "Edit", edit_family_path(family), class: "edit_link btn btn-small btn-info" %></td>
    <% if user_is_super_admin? %>
      <td>
        <% if family.is_live == true %>
        <%= link_to 'Make Family Live!', go_live_path(id: family.id), disabled: :true, class: "btn btn-small btn-success" %>
        <% else %>
        <%= link_to 'Make Family Live!', go_live_path(id: family.id), class: "btn btn-small btn-success" %>
        <% end %>
      </td>
      
      <td><%= link_to "Delete", family, method: :delete, class: "delete_link btn btn-small btn-danger"  %></td>
    <% end %>
    <% end %>
  </ul>
</tr>
</table>
</div>