<h2>Manage All Families</h2>
<h4>Total Families: <%= @total_fams %></h4>

<ul>
  <% @families.each do |fam| %>
  <div class="col-sm-4">
  <li>
    
    <li><%= fam.code %></li>
    <%= link_to "Edit", edit_family_path(fam), class: "edit_link" %>
    <%= link_to "Delete", fam, method: :delete, class: "delete_link", remote: true %>

    <ul class="admin-family-members">
      <% fam.family_members.each do |fm| %>
      <li><%= fm.first_name %></li>
      <% end %>
    </ul>
  </li>
  </div>
  <% end %>

</ul>