<div class="form-page">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <%= form_for @organization, :html => {:class => "form form-horizontal"} do |f| %>
      <div class="form-inline">
        <div class="form-group col-lg-12">
          <%= f.label :agency_name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group col-xs-12">
          <%= f.label :description %><br>
          <%= f.text_area :blurb, :cols => "30", :rows => "10", class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :phone %><br>
          <%= f.text_field :phone, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :address %><br>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :zipcode %><br>
          <%= f.text_field :zip, class: "form-control" %>
        </div>

        <div class="form-group col-xs-12">
          <%= f.label :website_url %><br>
          <%= f.text_field :website_url, class: "form-control" %>
        </div>

      </div>
      <%= f.submit class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>
