<!DOCTYPE html>
<html>
<head>
  <title>BrighterBeginningsAdoptAFamilyProgram</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <%= render 'shared/top_nav'%>
  <div class="site-container container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
